<!DOCTYPE html>
<html>

<body style="background: rgb(0, 0, 0)">
<h1 style="color: rgb(212, 0, 0); text-align: center">!!BATTLE!!</h1>
<p style="text-align: center"><iframe src="https://giphy.com/embed/Gje74xcKSjx84" width="480" height="480" frameBorder="0" class="giphy-embed" align="absmiddle" allowFullScreen></iframe></p>

<h2 style="color: rgb(212, 0, 0); text-align: center">
  ---------------PLEASE ENTER YOUR NAME---------------
</h2>
<ul style="color: rgb(255, 255, 255); text-align: center">
<form action='/names' method='post'>
  <label for="player1_name">
  PLAYER 1
  <input type='text' name='player1_name'>
  </label>
  <br>
  <label for="player2_name">
  PLAYER 2
  <input type='text' name='player2_name'>
  </label>
  <br>
  <input type='submit' value='Submit'>
</form>
</ul>


</body>

</html>
